<!doctype html>
<title>User Input</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>User Input</h1>
  <div class=metanav>

<h4>
Please enter a stock ticker eg. GOOG, and check desired features.
</h4>

<form id='user_input' method='post' action='check_plot' > <!-- action is the URL you want to move to next-->
   <p>
   Ticker symbol <input type='text' name='ticker_name'/>
   </p>
   <input type="checkbox" name="ticker_var" value="Close"> Closing price
   <br>
   <input type="checkbox" name="ticker_var" value="Adj. Close" > Adjusted closing price
   <br>
   <input type="checkbox" name="ticker_var" value="Volume"> Volume
   <p>
   <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>

</div>
</div>
